<launch>
    <param name="robot_description" textfile="/home/catkin_ws/src/localization/urdf/ur5e.urdf"></param>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"></node>
    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"></node> -->
    <param name="use_gui" value="true"></param>

    <!-- rviz -->
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find PID)/launch/rviz.rviz" /> -->

</launch>